<%= menu_item = 1 unless defined?(menu_item)%>
<header>
	<div class="main">
		<h1><a href="/">Rodrigo y Monica</a><em>Nuestra Boda</em></h1>
	</div>
	<div class="menu-row">
		<div class="main">
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_12">
						<nav>
							<ul class="menu">
								<li>
									<a class="<%= 'active' if menu_item == MAIN %>" href="/">Inicio</a>
								</li>
								<li>
									<a class="<%= 'active' if menu_item == GIFT_LIST %>" href="/lista_regalos">Lista de Regalos</a>
								</li>
								<li>
									<a class="<%= 'active' if menu_item == WISHES_LIST %>" href="/sus_deseos">Sus Deseos</a>
								</li>
								<li>
									<a class="<%= 'active' if menu_item == CONTACT %>" href="/contacto">Confirmaci&oacute;n</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>